.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #695f5f;
  }
  h1  {
    color: rgb(99, 13, 65);
    font-size:240%;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
} 
h2  {
    color: rgb(99, 13, 65);
    font-size:150%;
    font-family:'Franklin Goblin Medium'
} 
  #content {
    background-color:rgb(225, 134, 206);
    font-size: 16px;
    border: solid 1px bisque;
  }
  body {
    color:rgb(255, 255, 255)
  }
    #input {
    font-size:large
    }
 