/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #99b3f14d;
}
h1  {
  color: rgb(213, 187, 237);
  font-size:200%;
  font-family:cursive;
} 
h2  {
  color:rgb(0, 0, 0);
  font-size:130%;
  font-family:monospace;
}
#content {
  background-color:rgb(249, 240, 160);
  font-size: 16px;
  border: solid 1px bisque;

}