.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #e6bfbf;
  }
  h1  {
    color: rgb(79, 255, 47);
    font-size:240%;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
} 
h2  {
    color: rgb(43, 203, 18);
    font-size:100%;
    font-family:'Franklin Goblin Medium'

} 
  #content {
    background-color:rgb(212, 185, 185);
    font-size: 16px;
    border: solid 1px bisque;

  }
  body {
    color:rgb(255, 255, 255)

  }

  .special {
    background-color: rgb(26, 171, 224);

  }
