/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #7672a8;
  }
  h1  {
    color: rgb(213, 187, 237);
    font-size:200%;
    font-family:cursive;
} 
  #content {
    background-color:rgb(38, 20, 51);
    font-size: 16px;
    border: solid 1px bisque;

  }


  