.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #7b2537;
  }
  h1  {
    color: rgb(198, 123, 123);
    font-size:200%;
    font-family:cursive;
} 
  #content {
    background-color:rgb(211, 247, 132);
    font-size: 16px;
    border: solid 1px bisque;

  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
